:root {
  --background: rgb(234, 233, 241);
  --hover: rgb(214, 246, 255);
  --action-button: rgb(172, 219, 241);
  --action-button-hover: rgb(172, 202, 241);
  --info-gray: rgb(221, 221, 221);
  --info-green: rgb(187, 243, 187);
  --info-red: rgb(255, 208, 208);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
html {
  font-size: 62.5%;
}
a, p, span, label {
  color: black;
  font-size: 1.4rem;
  text-decoration: none;
}
span {
  cursor: default;
}
h1 {
  font-size: 1.7rem;
}
  /*Flex and directions*/
.flx {
  display: flex;
}
.flx-col {
  flex-direction: column;
}
.flx-center {
  justify-content: center;
  align-items: center;
}
