@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

:root {
  --background: #fee7d7;
  --main-text: #c90640;
  --hover: rgb(214, 246, 255);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
html {
  font-size: 62.5%;
}
a, p, span, label, h1 {
  color: var(--main-text);
  text-decoration: none;
}
a, p, span, label {
  font-family: "ABeeZee", serif;
  font-size: 1.1rem;
}
span {
  cursor: default;
}
h1 {
  font-size: 2.2rem;
  font-family: 'Pacifico', cursive;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.7);
}
/*Flex and directions*/
.flx {
  display: flex;
}
.flx-col {
  flex-direction: column;
}
.flx-center {
  justify-content: center;
  align-items: center;
}
.main-container {
  background: radial-gradient(var(--background), rgb(255, 152, 152));
  height: 100vh;
}
.modal-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.title {
  text-align: center;
  margin: 10px 20px 10px;
}
.instructions {
  text-align: center;
  margin: 0 20px 10px;
}
.hidden {
  display: none;
}
